@page "/demo3"
<h3>Demo3</h3>

<p>Valeur : @Valeur</p>
<button @onclick="Increment" disabled="@stopIncrement()">+</button>
<button @onclick="Decrement">-</button>
<button @onclick="StockValue">Stock</button>


@code {

}
