@page "/exo1"
@inject NavigationManager nvm;
@using BlazorDemo.Models
<h3>ShoppingList</h3>

<div class="col">
    <div class="col-6">
        <div style="height : 200px; overflow-y:scroll">
        <table class="table table-striped">
            <tr>
                <th>Product Name</th>
            </tr>
           @* @foreach (Article item in ArticleList)
           {
               <tr>
                   <td @onclick='() => SetId(item.Id)' style="cursor:pointer;">@item.Name</td>
               </tr>
           }*@
           <Virtualize Items="ArticleList" Context="item">
               <tr>
                   <td @onclick='() => SetId(item.Id)' style="cursor:pointer;">@item.Name</td>
               </tr>
           </Virtualize>
        </table>
        </div>
    </div>
    <div class="col-6">
        <Detail Id="@SelectedId"></Detail>
    </div>
    
</div>
<button @onclick="redirect">Ajouter</button>

@code {
    public void redirect()
    {
        nvm.NavigateTo("/addarticle");
    }
}
